* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "cursive";
}

body {
  background-image: url("img/bg_1_1.PNG");
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  color: rgb(0, 0, 0);
 
  
}

nav a {
  color: inherit;
  /* 移除超連結顏色 */
  text-decoration: none;
  /* 移除超連結底線 */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}


.title {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

li {
  float: right;
  
}

li a {

  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {

  display: block;
  background-color: transparent;
  color: #ff0084cd;
  text-align: center;
 
  text-decoration: none;
}


.main {
  width: 100%;
  top: 58px;
  position:relative;
  padding: 60px 20px;
  display: flex;
  flex:​ 1 0 auto​;
  min-height: calc(100vh - 60px); 
}
.photo{
  padding: 0px  0px  0px 10px ;
}
.bg{
  z-index: -2;
}
label{
  color: rgb(255, 255, 255);
}

/*input file*/
.fileUpload {
	background:#061f58d0;
  border: 2px solid rgb(255, 255, 255);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin: 0.25em auto;/*20px/16px 0*/
	overflow: hidden;
	padding: 0.875em;/*14px/16px*/
	position: relative;
	text-align: center;
	width: 120px;
   cursor: pointer;
  
}
.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
	background:#061f58d0;
  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
  cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  background: transparent;
  color: rgb(255, 255, 255);
}

.container {
  display: flex; 
  flex-direction: column; 
  height:​ 100%​;
padding: 0px;
width: 100%;
 }
.btn_submit {
  display: flex;
  justify-content: center;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  
  border: 2px solid rgb(255, 255, 255);
  background:#061f58d0;
  color: #ffffff;
   font-weight: bold;

}

.btn_submit:hover {
  background:#061f58d0;
  color: white;
}
.submit{
  display: flex;
  justify-content: center;
}
.pri{
  padding: 20px;
  width: 100%;
}
footer {
  padding: 8px 20px;
  font-size: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
 z-index: 999;
 position:relative;

 margin-top:29px;
 bottom: 0;
 width: 100%;
 flex:​ 0 0 auto​;
 text-align: center;
}



@media screen and (min-width:393px){ 
  
  
}

@media screen and (min-width:1000px){ 

}