* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "cursive";
}

body {
  background: #bdbdbd;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}


nav a {
  color: inherit;
  /* 移除超連結顏色 */
  text-decoration: none;
  /* 移除超連結底線 */

}

.clientMenu1{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;

}


.title {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: right;
}

li a {

  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {
  float: right;
  display: block;
  background: white;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.black-white_0layer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top:1280px;
  z-index: 987;
 
}
.black-white_0layer .ring {
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  left: 80px;
  z-index: 989;
  border-radius: 70%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3), 0 0 0 13px rgba(255, 255, 255, 0.1);
  animation: animate 2s linear infinite;
}
.black-white_0layer p {
  position: absolute;
  display: inline-block;
  /* border: 2px solid rgba(255, 255, 255, 0.962); */
  padding-top: 140px;
  padding-right: 60px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1.0);
  animation: example 2s linear infinite;
}
@keyframes animate {
  0% {
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0);
  }

  50% {
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 0 0 8px rgba(255, 255, 255, 0.3);
  }

  100% {
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0);
  }
}
@keyframes example {
  0%   {color:rgba(255, 255, 255, 0.2); }
  50%  {color:rgb(255, 255, 255);}
  100% {color:rgba(255, 255, 255, 0.2); }
}


.black-white_1layer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  top: 550px;
  z-index: 977;
  
}
.black-white_2layer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 430px;
  z-index: 966;
}

.black-white_2_5layer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 1000px;
  height: 400px;
  z-index: 952;
  background: #bdbdbd;

}
.black-white_3layer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0px;
  z-index: 941;


}




.content{
  padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    height: 1650px;
    /* border: 1px solid red; */
   
    z-index: 14;

}

footer {
  display:block;
/* height:150px; */
position:relative;
bottom:0px;
background-color:#FFFFFF;
width: 100%;
padding: 20px;
z-index:999;
text-align:center;
}


@media screen and (min-width:393px){ 
  
  
}

@media screen and (max-width:420px){ 
  .content{
    padding-top: 40px;
      padding-bottom: 40px;
      position: relative;
      height: 1650px;
      /* border: 1px solid red; */
      display:block;
      z-index: 999;
      pointer-events: none;
      
  }
}