* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "cursive";
  
}

body {
  background: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  margin: 0;
}

nav a {
  color: inherit;
  /* 移除超連結顏色 */
  text-decoration: none;
  /* 移除超連結底線 */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}


.title {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

li {
  float: right;
  
}

li a {

  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {

  display: block;
  background-color: transparent;
  color: #ff0084cd;
  text-align: center;
 
  text-decoration: none;
}

.main {
  position: relative;
  padding:  0px;
  top: 0px;
  background-color:transparent;
  width: 100%;

}
.btn_Download {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: Space-around;
  margin-top: -100px;
  display: flex;
  float: left;
  z-index: 100;
}

.btn_Download button {
  position: relative;
  width: 48%;
  padding: 14px 16px;
  justify-content: center;
  display: flex;
  float: left;
  z-index: 100;
  border: 2px solid white;
  background-color: #ff008479;
  border-radius: 12px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.btn_Download button:active {
  
  background-color: #7460d782;

  color: #ffffff;
}




footer {
  position: relative;
  padding: 20px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  flex: 1, 0, auto;
  width: 100%;
 z-index: 9;
}


@media screen and (min-width:393px){ 
  
  
}

@media screen and (min-width:1000px){ 

}