* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "cursive";
}

body {
  background: #bdbdbd;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  margin: 0;
}


nav a {
  color: inherit;
  /* 移除超連結顏色 */
  text-decoration: none;
  /* 移除超連結底線 */

}

.clientMenu1{
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}


.title {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {
  float: right;
  display: block;
  background: white;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  position: relative;
  padding: 80px 20px;
  background-color: linear-gradient(to top, #a68cc8, #95c0b3);
  height: 850px;


}

#text {
  /* font-family: 'Bradley Hand ITC',sans-serif; */
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.511);
}

.TITLE {
  position: fixed;
  top: 430px;
  /* top: 0px; */
  justify-content: center;
  text-align: center;
  width: 100%;
  pointer-events: none;
  border: 5px dashed black;
  z-index: 6;
  font-size: 37px;
  color: rgb(216, 216, 216);
}


.TITLE_flower {
  position: absolute;
  top: 100px;
  width: 100%;
  pointer-events: none;
  z-index: 5;
}

.obj1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  z-index: 20;

}

.obj1 img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 20;
}

.mountain_top {
  z-index: 30;

}

.mountain_bottom {

  z-index: 30;
}

.flower_intro_call {
  padding: 20px;
  top: 870px;
  margin-top: 0px;
  background-color: transparent;
  height: 1000px;
  z-index: 999;
  position: absolute;

}

.flower_intro {
  padding: 20px;
  top: 910px;
  margin-top: 0px;
  background-color: #797a7c;
  z-index: 999;
  position: absolute;
}

.flower_PNG {
  top: -400px;
  position: fixed;
  z-index: 3;
}

.flower_cover {
  padding: 20px;
  top: 400px;
  margin-top: 0px;
  height: 400px;
  width: 100%;
  z-index: 4;
  position: absolute;
  background: #bdbdbd;
}

.container {
  position: absolute;
  top: 1830px;
  padding: 0px 50px;
  width: 100%;
  z-index: 9999;
}

.container .ring {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70%;
  border: 4px solid rgba(255, 255, 255, 0.7);
  z-index: 99;
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3), 0 0 0 13px rgba(255, 255, 255, 0.1);
  animation: animate 2s linear infinite;
}

.container p {
  position: relative;
  top: 10px;
  border-color: rgba(0, 0, 0, 0);
  padding: 75px 25px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1.0);
}

@keyframes animate {
  0% {
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 0 13px rgba(255, 255, 255, 0);
  }

  50% {
    border: 4px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5), 0 0 0 13px rgba(255, 255, 255, 0.3);
  }

  100% {
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1), 0 0 0 13px rgba(255, 255, 255, 0);
  }
}



input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
}

.btn_submit {
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgb(51, 51, 51);
  background: transparent;

}

.btn_submit:hover {
  background-color: rgb(51, 51, 51);
  color: white;
}


footer {
  padding: 20px;
  background: rgb(51, 51, 51);
  color: white;
  flex: 1, 0, auto;
  width: 100%;
 z-index: 9;
}


@media screen and (min-width:393px){ 
  
  
}

@media screen and (min-width:1000px){ 

}