* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "cursive";
}

body {
  background: linear-gradient(to top, #bd83ba, #98b9ca);
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

nav a {
  color: inherit;
  /* 移除超連結顏色 */
  text-decoration: none;
  /* 移除超連結底線 */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #78929ad9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}


.title {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {
  float: right;
  display: block;
  background: white;
  color: rgb(51, 51, 51);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  padding: 80px 20px;
  background-color: transparent;
  height: 850px;


}
.content {
  position: relative;
  /* background-image: linear-gradient(to top, #ffe1f0,#ffa5d2); */
  z-index: 1;
  height: 1200px;
}
.flower_frame{
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 0px;
/* border: 2px solid black; */
width: 100%;
}
.TITLE_note1{
  position:absolute;
  width: 60%;
  /* border: 2px solid red; */
}
.note1_container{
  position:relative;
  /* border: 2px solid rgb(0, 211, 151); */
}


.icon_Download {
  position:relative;
  width: 100%;
  display: flex;
  z-index: 100;
}


.btn_Download {
  position: relative;
  width: 100%;
  margin: 0 auto;

  flex-direction: row;
  justify-content: Space-around;
  display: flex;
  float: left;
  z-index: 100;
}

.btn_Download button {
  position: relative;
  width: 30%;
  padding: 6px 10px;
  justify-content: center;
  display: flex;
  float: left;
  z-index: 100;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 12px;
  color: white;
  font-size: 15px;
}
.btn_Download button:active {
  
  background: #78929ab7;

  color: #ffffff;
}




footer {
  
  background-color: #78929ab7;
  display:block;
  /* height:150px; */
  position:relative;
  bottom:0px;
color: white;
  width: 100%;
  padding: 15px;
  z-index:999;
  text-align:center;}